.navmenu {
    justify-content: space-around;
    width: 100%;
}

#imageblock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.skillsblock {
    flex-flow: column nowrap;
}

.skillname,
.skilldescription {
    width: 100%;
}

.contactblock {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

.contacttext {
    width: 100%;
}

.contactform h3 {
    width: 100%;
    padding-left: 7%;
}

.contactform {
    width: 100%;
    padding-right: 7%;
}
