* {
    margin: 0 auto;
    max-width: 980px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.clear {
    height: 100px;
    width: 100%;
    background-color: #e5e3e3;
}

.heading {
    padding-bottom: 3%;
}

.firstpage {
    background-image: url(pondering.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    height: 740px;
    width: 100%;
}

#name {
    font-size: 50px;
    font-weight: 900;
    color: #eae3ea;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 5%;
    word-spacing: 20px;
    display: flex;
    letter-spacing: 5px;
}

.navmenu {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-right: 1%;
    padding-top: 1%;
    width: 45%;
    text-transform: uppercase;
}

.menu {
    height: 50px;
}

.fixed {
    width: 100%;
    position: fixed;
    background-color: #474545;
}

.navmenu a:hover {
    color: #b56357;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    font-weight: 500;
}

.navmenu a {
    color: #eae3ea;
}

#contactbutton {
    border: #eae3ea solid 1px;
    width: 20%;
    height: auto;
    text-align: center;
}

#contactbutton:hover {
    background-color: #eae3ea;
    color: #b56357;
}

.welcometext {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10%;
    margin-left: 1%;
    width: 40%;
    text-align: center;
    color: #eae3ea;
    line-height: 200%;
}

section.welcometext p {
    padding-top: 5%;
    font-size: 20px;
}

h2 {
    font-size: 25px;
    font-weight: 900;
}

.aboutmyself {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    letter-spacing: 2px;
    text-align: center;
    color: #474140;
    font-size: 18px;
    background-color: #e5e3e3;
    line-height: 170%;
    width: 100%;
}

.image {
    max-width: 300px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

#imageblock {
    display: flex;
    justify-content: space-between;
    background-color: #e5e3e3;
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    list-style-position: outside;
}

.skillsblock {
    display: flex;
    flex-flow: row wrap;
    line-height: 180%;
    letter-spacing: 1px;
    color: #474140;
    background-color: #e5e3e3;
}

.skillname {
    font-size: 22px;
    text-transform: uppercase;
    width: 35%;
    box-sizing: border-box;
    margin-left: 0;
    padding-left: 5%;
}

.skilldescription {
    font-size: 18px;
    width: 65%;
    margin-right: 0;
    box-sizing: border-box;
    line-height: 200%;
}

li span {
    font-weight: 600;
}

.contactblock {
    background-color: #e5e3e3;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacttext {
    color: #474140;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 0% 5% 0% 5%;
    line-height: 170%;
    font-size: 18px;
    text-align: center;
    width: 50%;
}

.contactinfo {
    box-sizing: border-box;
    padding: 25% 5% 25% 5%;
    line-height: 170%;
    color: #474140;
}

.socialcontact {
    display: flex;
    width: 40%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 5%;
}

.socialcontact a {
    color: black;
}

.socialcontact a:hover {
    transform: scale(1.2);
}

.contactform {
    color: #474140;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 150%;
    font-size: 18px;
    text-align: left;
    width: 50%;
}

.contactform h3 {
    font-weight: normal;
    font-size: 18px;
    width: 80%;
    text-align: center;
}

.required:after {
    content: " *";
    color: red;
}

form {
    width: 80%;
}

input,
textarea {
    border: 1px solid #c4c4c4;
    width: 100%;
}

::-webkit-input-placeholder {
    letter-spacing: 2px;
}

.formbutton {
    width: 30%;
    height: 35px;
    font-size: 15px;
    border-color: #474545;
    color: #474545;
}

form li:first-child {
    border-top: 2px solid #474140;
}

form li:last-child {
    border-bottom: 2px solid #474140;
}

form li {
    padding: 5px;
}

#textbelowform {
    font-size: 15px;
}

#map {
    width: 100%;
    height: 300px;
    border: 0;
}

.footer {
    height: 150px;
    padding: 15px 0px 15px 0px;
    width: 100%;
    background-color: #474545;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.navfooter {
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 50px;
    text-transform: uppercase;
}

.navfooter a {
    color: #eae3ea;
}

.namefooter {
    word-spacing: 20px;
    letter-spacing: 2px;
    font-size: 25px;
    color: #eae3ea;
}

.navfooter a:hover {
    color: #b56357;
}

#copyright {
    font-size: 15px;
    letter-spacing: normal;
    word-spacing: normal;
    color: #eae3ea;
}

.socialfooter {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.socialfooter a {
    color: #eae3ea;
}